body {
  font-family: Arial;
  text-align: center;
  background: #f0f0f0;
}
h2{
  color: black;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}
h1 {
  color: darkblue;
  font-style: italic;
  margin: 10px;
  font-size: 32px;    /*tambah ni*/
  margin-top: 30px;   /*tambah ni*/
}
p {
  color: red;
  font-style: italic;
  margin: 10px;
}
form {
  margin-top: 20px;
}
input {
  padding: 10px;
  width: 200px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: navy;
}