body{
  margin: 0;
  font-family: 'Poppins',sans-serif;
  background: linear-gradient(to bottom right, #b2f7c0,#5cc488);
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  overflow-x: hidden;
  position: relative;
}
.container{
  background: rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 30px;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  animation: fadeln 2s ease-in;
}
h1{
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
  animation: glow 2s ease-in-out infinite alternate;
}
.ucapan{
  font-size: 18px;
  line-height: 1.6;
  font-style: italic;
  color: #f0fff0;
}
.gambar-profil{
  width: 150px;
  height: 150px;
 border-radius: 50%;
 border: 4px solid white;
 margin-bottom: 20px;
 object-fit: cover;
 animation: pop 1s ease-in-out;
}
.tesk-bergerak{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  animation: gerak 10s linear infinite;
  background: rgba(0,0,0,0.3);
  padding: 10px 0;
  border-radius: 10px;
}
.lagu{
  display: none;
}
@keyframes fadeln{
  from{opacity: 0;transform: translatey(20px);}
}
@keyframes glow{
  from{text-shadow: 0 0 5px white;}
}
@keyframes gerak{
  0%{
    transform: translatex(100%);
  }
  100%{
    transform: translatex(-100%);
  }
}